.showHeader ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-right: 5%;
  font-weight: 700;
  font-size: 20px;
}

.showData ul {
  list-style: none;
  display: flex;
}

.showData ul li {
  margin-right: 50px;
}